
$fa-font-path: "./webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "./fonts.scss";

* {
    font-family: 'Montserrat', sans-serif;
}


html, body, #root {
    margin: 0; padding: 0;
    min-height: 100%;
    min-width: 100%;
}

.page-content {
    min-height: 100%;
}

$dark_bg: #333;
$light_bg: #f5f5f5;
$dark_text: #fff;
$light_text: #333;

a {
    text-decoration: none;
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(($height / $width) * 100%);
    }
    > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
}

.header {
    position: sticky;
    top: 0px;
    background-color: $light_bg;
    padding: .25em .5em;
    border-bottom: 1px solid #ccc;
    z-index: 2;
    
    &.light {
        background-color: $light_bg;
        border-bottom: 1px solid #ccc;

        & * { color: $light_text;}
    }
    &.dark {
        background-color: $dark_bg;
        border-bottom: 1px solid #ccc;

        & * { color: $dark_text; }
    }
    & > nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        & > #logo {
            font-size: 2em;
            font-weight: bold;
            margin-top: .25em;
            padding-left: 2.5%;
        }
    }
}

.footer {
    position: static;
    bottom: 0;
    background-color: $dark_bg;
    padding: .25em .5em;
    border-top: 1px solid #ccc;
    text-align: center;
    max-width: 100vw;

    &.light {
        background-color: $light_bg;
        border-top: 1px solid #ccc;

        & * { color: $light_text; }
    }
    &.dark {
        background-color: $dark_bg;
        border-top: 1px solid #ccc;

        & * { color: $dark_text; }
    }
    & .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;

        @media (max-width: 700px) {
            & {
                flex-direction: column;
                align-items: center;
            }
            & ul {
                padding-left: 0;
            }
        }


        & ul {
            padding-left: 0;
            display: flex;
            & li {
                list-style: none;
                margin-bottom: 0.5em;
                & > a{
                    margin-left: 0.3em;
                }
            }
            flex-direction: column;
        }

        & .info {
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            gap: 2em;
            & .left, & .right {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            & .left {
                justify-content: space-between;
            }
            & .right {
                justify-content: space-between;
            }
        }
        
    }
}

.facebook {
    @include fa-icon-brands($fa-var-facebook);
}
.instagram {
    @include fa-icon-brands($fa-var-instagram);
}
.youtube {
    @include fa-icon-brands($fa-var-youtube);
}
.github {
    @include fa-icon-brands($fa-var-github);
}
.mail {
    @include fa-icon-solid($fa-var-envelope);
    & > a {
        margin-left: 0.3em;
    }
}

.nav-links {
    text-align: right;
    padding: 10px 30px;
    font-size: 1.5em;
    & > ul li {
        display: inline-block;
        list-style: none;
        margin: 0 1em;

        &:hover {
            text-shadow: 0 0 5px #fff;
        }
    }
}

.content-wrapper {
    padding: 0.5em 2em 0.5em 2em; 
    min-height: 100%;   

    @media (max-width: 740px) {
        & {
            padding: 0 .5em 0 0.5em;
        }
    }
}

.projects {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    gap: 2em;
    padding: 2em;

    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));

    & > div {
        min-width: 30%;
        & > img {
            width: 100%;
        }
    }

    & .link {
        color: $dark_text;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
    @media (min-width: 1800px) {
        & > :nth-child(2n+1) {
            grid-column: auto / span 2;
        }
    }
    @media (max-width: 1800px) {
        & {
            grid-template-columns: repeat(2, minmax(300px, 1fr));
        }
    }
    @media (max-width: 1200px) {
        & {
            grid-template-columns: repeat(1, minmax(300px, 1fr));
        }
    }
    @media (max-width: 740px) {
        & {
            padding: .2em .2em;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
        }
    }

    & .card {

        background-color: $light_bg;
        border-radius: 0.5em;
        padding: 1em;
        margin: 1em;
        box-shadow: 0 0 5px #ccc;
        transition: all 0.3s ease-in-out;
        grid-template-columns: 1fr auto;
        display: grid;
        gap: 1em;
        min-width: minmax(400px, 100%);
        word-wrap: break-word;

        @media (max-width: 740px) {
            & {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr auto;
                margin: 0.25em;
            }
        }

        &:hover {
            box-shadow: 0 0 5px #ccc;
            transform: scale(1.01);
        }
        &.hero {
            background-color: $dark_bg;
            color: $dark_text;
        }
        & > .image {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .img {
            width: auto;
            height: auto;
            max-height: 300px;
            height: 300px;
            grid-column: 2/3;

            @media (max-width: 740px) {
                & {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    max-width: 100%;
                    width: minmax(300px, 100%);
                    @include aspect-ratio(1, 1);
                    min-height: 300px;
                }
            }
            @media (max-width: 400px) {
                & {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    max-width: 100%;
                    width: minmax(300px, 100%);
                    @include aspect-ratio(1, 1);
                    height: auto;
                    min-height: minmax(300px, auto);
                }
            }
        }
    }
}

